<h4 class="text-muted">
  <%= 'Tickers' %>
</h4>
<% if @tickers.present? %>
  <div class="container-fluid">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= 'Pair' %></th>
          <th><%= 'Max. Price' %></th>
          <th><%= 'Min. Price' %></th>
          <th><%= 'Avg. Price' %></th>
          <th><%= 'Volume' %></th>
          <th><%= 'Vol. Currency' %></th>
          <th><%= 'Last Trade Price' %></th>
          <th><%= 'Buy' %></th>
          <th><%= 'Sell' %></th>
          <th><%= 'Updated' %></th>
        </tr>
      </thead>
      <tbody>
        <% @tickers.each do |ticker| %>
          <tr>
            <td><%= ticker.first.first %></td>
            <td><%= ticker.first.last['high'] %></td>
            <td><%= ticker.first.last['low'] %></td>
            <td><%= ticker.first.last['avg'] %></td>
            <td><%= ticker.first.last['vol'] %></td>
            <td><%= ticker.first.last['vol_cur'] %></td>
            <td><%= ticker.first.last['last'] %></td>
            <td><%= ticker.first.last['buy'] %></td>
            <td><%= ticker.first.last['sell'] %></td>
            <td><%= date_from_timestamp ticker.first.last['updated'] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
